body {
  font-family: "Merriweather Sans", sans-serif;
}

.search-bar {
  border: solid 2px #000;
  background-color: #fff;
}

.header {
  background-color: #ddd;
}

.search {
  max-width: 20px;
}

table {
  border-collapse: collapse;
  min-width: 62em;
  overflow: scroll;
}

.logo {
  max-width: 200px;
}

.white,
.nearest-playground {
  background-color: #fff;
}

.back-ul {
  background-color: #efefef;
}
