html {
  font-family: Georgia, serif;
}

.search {
  border: solid 2px #000;
  background-color: #fff;
}

header {
  background-color: #ddd;
}

.image {
  max-width: 20px;
}

table {
  border-collapse: collapse;
  min-width: 62em;
}

.logo {
  max-width: 200px;
}

.side {
  background-color: #efefef;
}
